/*---------------------- CLASES PERSONALIZADAS ----------------------*/
*{
    font-family: 'Titillium Web', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lead{
    font-family: 'Titillium Web', sans-serif !important;
}

.btn-red{
    background-color: rgb(0, 126, 126);
}

.btn-danger{
    background-color: rgb(0, 126, 126) !important;
    border-color: rgb(0, 126, 126) !important;
}

.text-darkcyan{
	color:rgb(0, 126, 126) !important;
}

.bg-red{
    background-color: rgb(0, 126, 126);
}

.aling-text-center{
    align-self: center;
}

.w-129px{
    width: 129px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}


/*---------------------- BOTON ROJO DE LOS MODALES ---------------------------*/
.modal-footer .btn-red{
    background-color: rgb(161, 7, 7);
}


/*---------------------- PERSONALIZACION DEL JUMBOTRON ----------------------*/
.jumbotron{
    /*background-image: url(../img/bannerprincipal.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(80, 80, 80);
    background-size: cover;
    height: 100vh;
}

.jumbotron .container-fluid{
    padding-top: 28vh;
}

.jumbotron a{
    margin-top: 10vh;
    background-color: rgb(161, 7, 7);
}

.jumbotron p{
    margin-top: 5vh;
}


/*---------------- PERSONALIZACION CARDS DE SERVICIOS ------------------*/
.card-body button{
    background-color: rgb(161, 7, 7);
}

.card-img-top{
    width: 80%;
}


/*------------------- FOOTER PERSONALIZADO ---------------*/

footer a {
    font-size: 15px;
}

footer h6{
    font-size: 13px
}

.lista-footer{
    text-decoration: none;
    list-style: none;
}












/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*                                  ESTILOS PAGINA DE REGISTRO                                */

/*------------------- HEADER PERSONALIZADO ---------------*/
/*.logo{}*/

.navbar-vertical{
    width: 30%;
    height: 90%;
    position: absolute;
    z-index: 10;
}

.dropdown .fas{
    font-size: 30px;
}

.dropdown-menu .dropdown-item:active{
    background-color:rgb(0, 126, 126);
}
/*------------------- HEADER PERSONALIZADO ---------------*/


/*------------------- MAIN PERSONALIZADO ---------------*/

.btn-red:hover,
.btn-red:hover > em{
    color: rgb(0, 126, 126);
    background-color:rgb(179, 178, 178);
}

div .btn-red{
    color:rgb(223, 223, 223);
    background-color:rgb(0, 126, 126);
}


/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*                                  ESTILOS PAGINAS DE SELECION DE CARTAS                                */

/*------------------- COLORES DE CARTAS PERSONALIZADO ---------------*/
.card-img-top{
    color: rgb(221, 159, 159);
}

.card-title{
    color: rgb(0, 126, 126);
}

.card-text {
    color: #000;
}

.card:hover > .card-img-top,
.card:hover > .card-text,
.card:hover >.card-title,
.card:active > .card-img-top,
.card:active > .card-text,
.card:active > .card-title{
    color: rgb(0, 126, 126);
}




/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*                                  ESTILOS PAGINAS DE CONSULTA PQR                               */

/*------------------- COLORES DE TABLAS PERSONALIZADOS ---------------*/
table{
    width: 100%;
}

.page-item:last-child .page-link,
.page-link{
    color:rgb(0, 126, 126) !important;
    transition: all 0.4s;
}

.page-item.active .page-link{
    background-color: rgb(0, 126, 126) !important;
    color:rgb(223, 223, 223) !important;
    transition: all 0.4s;
}

div.dataTables_info{
    white-space: nowrap;
}

table.table-bordered.dataTable tbody td{
    text-align: center;
    white-space: nowrap;
    padding: 0;
    vertical-align: middle;
}


/*------------------- ENCABEZADO DE LA TABLA FIJO ARRIBA ---------------*/

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-gestionar { 
    height:400px;
    overflow:scroll;
}





/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*                                  ESTILOS PAGINAS DE CONSULTA PQR                               */

/*------------------- ENCABEZADO DE LA TABLA FIJO ARRIBA ---------------*/
.table-consultar { 
    height:17em;
    overflow:scroll;
}


/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*                                  IMPORTACION DE FUENTES TIPOGRAFICAS                               */

@font-face {
    font-family: 'Titillium Web';
    src: url('../font/TitilliumWeb-Light.eot');
    src: url('../font/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/TitilliumWeb-Light.woff2') format('woff2'),
        url('../font/TitilliumWeb-Light.woff') format('woff'),
        url('../font/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}